.header-img {
  text-align: center;
}
.header-img img {
  margin: 30px 0;
  padding: 0;  
  width: 400px;  
}

h1 {
  color: #262626;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-align: center;
  padding: 0 30px;
}

h2 {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-align: left;
  padding: 0 30px;
}

.sico-dots img {
  display: block;
  width: 60px;
  height: 6px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.sico-dots.mb img {
  margin-bottom: 10px;
}

.firma-contacto {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  border-top: 2px solid #e3e3e3;
  width: 250px;
}
.firma-contacto .firma-correo a {
  color: #2c3e50; 
  line-height: 26px; 
  padding-left: 6px; 
  text-decoration: none;
}
.firma-contacto .firma-web a {
  color: #2c3e50; 
  line-height: 26px; 
  padding-left: 6px; 
  text-decoration: none;
}

span {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}
p.main-text {
  line-height: 32px;
  font-size: 20px;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
}
p.big-text {
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
p.blue-text {
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  /* padding: 0 160px; */
  margin: 20px 0;
  text-align: center;
}


span.name-construcotra {
  text-align: center;
  display: block;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
}

.logo-constructora {
  margin: 0 auto;
  text-align: center;
}
.logo-constructora img {
  margin: 20px 0;
  width: 180px;
}

.logo-sico {
  float: right;
  width: 120px;
}
.logo-sico span {
  font-size: 12px;
  text-align: center;
  display: block;
}
.firma-mail {
  margin: 0 auto;
  width: auto;
}
.header-banner {
  padding-top: 30px;
  margin-bottom: 30px;
}
.header-banner img {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.header-banner h2 {
  color: #ffffff;
  margin-top: 15px;
  padding: 18px 0;
  margin-bottom: 0;
  text-align: center;
  background: #2c3e50;
}
.sico-logo img {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .header-img img {
    padding: 0 50px;
    width: 100%;    
  }
  h1 {
    font-size: 28px;
  }
  p.main-text {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    /* padding: 0 40px !important; */
  }
  p.big-text {
    font-size: 16px;
    line-height: 24px;    
    padding: 0;
    /* padding: 0 40px !important; */
  }  
}